@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #050D20; /* Set the background color */
  background-image: url('../../public/hero-glow-f6eed469bca2\ 1.png');
  background-size: cover;

  
}
.portfoliio-grid{
height: 60%;
}
.wrapper{
  width: 90%;
  height: auto;
}
.portfoliio-grid{
  height: 90%;
}

.portfoliio-grid-item{
  background-color: rgba(89, 89, 89, 0.08); 
  /* opacity: 0.03; */
}
.tech-stack-cont{
 background-color: #1c78c026;
 border-radius: .5rem;
}




.profile-sub-cont-3{
  max-height: 40%;
  min-height: 40%;
  overflow: hidden;
  
}
.about-me-description{
  height: 17rem;
  overflow-y: scroll;
}

.profile-sub-cont-3::-webkit-scrollbar, .about-me-description::-webkit-scrollbar {
  display: none;
}

@keyframes moveDown {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}

.delay-1 {
  animation-delay: 0.5s;
}
.delay-2 {
  animation-delay: 1s;
}
.delay-3 {
  animation-delay: 1.5s;
}
.delay-4 {
  animation-delay: 2s;
}
.delay-5 {
  animation-delay: 2.5s;
}
.profile-wrapper {
  perspective: 1000px;
  width: 75px;
  height: 75px;
}

.profile-inner {
  transition: transform 1s;
  transform-style: preserve-3d;
  position: relative;
  width: 100%;
  height: 100%;
}

.profile-img, .profile-img-3d {
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
}

.profile-img-3d {
  transform: rotateY(180deg);
}
