@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #050D20; /* Set the background color */
  background-image: url('../../public/hero-glow-f6eed469bca2\ 1.png');
  background-size: cover;

  
}
.wrapper{
  width: 90%;
  height: auto;
}
.portfoliio-grid{
  height: 90%;
}

.portfoliio-grid-item{
  background-color: rgba(89, 89, 89, 0.08); 
  /* opacity: 0.03; */
}
.tech-stack-cont{
 background-color: #1c78c026;
 border-radius: .5rem;
}




.profile-sub-cont-3{
  max-height: 40%;
  min-height: 40%;
  overflow: hidden;
  
}
.profile-sub-cont-3::-webkit-scrollbar, .about-me-description::-webkit-scrollbar {
  display: none;
}