@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #050D20; /* Set the background color */
  background-image: url('../../public/hero-glow-f6eed469bca2\ 1.png');
  background-size: cover;

  
}
.wrapper{
  width: 90%;
  height: 90%;
}
.portfoliio-grid{
  height: 90%;
}

.portfoliio-grid-item{
  background-color: rgba(89, 89, 89, 0.08); 
  /* opacity: 0.03; */
}

.fading-border {
  position: relative;
}

.fading-border::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px; /* Adjust the height of the gradient */
  background: linear-gradient(to bottom, transparent, black); /* Adjust colors as needed */
}

